$orange: #ef8d32;
$d-blue: #112d4e;
$l-blue: #3f72af;
$bg-1: #dbe2ef;
$bg-2: #f9f7f7;


.about-me {
  padding: 4rem 4rem 0rem 4rem;
  background-color: $bg-2;
  h2,
  h3,
  h4,
  h5 {

    font-weight: lighter;
  }
  h2 {
    font-size: 3.5rem;
    color: $l-blue;
    margin-top: 2rem;
    text-align: center;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 3rem 0rem;
    // max-width: 80%;
    .my-pic {
      border-radius: 500px;
      min-width: 280px;
      max-width: 280px;
      border: solid 10px $l-blue;
    }
    .bio {
      min-width: 330px;
      max-width: 330px;
      text-align: left;
      padding: 0rem 3rem;
      line-height: 1.5;
    }
    .full-bio {
      margin-top: -2rem;
      min-width: 330px;
      max-width: 330px;
      text-align: left;
      align-items: center;
      padding-left: 3rem;
    }
  }
  .entry-type {
    font-size: 1.3rem;
    font-weight: 500;
    color: #ef8d32;
    margin-top: 1rem;
  }
  .entry {
    line-height: 1.4rem;
  }
  .invite {
    text-align: center;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }

  .primary-icon {
    margin-right: 2rem;
  }
}




@media screen and (max-width: 865px) {
  .about-me {
    padding: 4rem 2rem 0rem 2rem;
    h2 {
      font-size: 2.5rem;
      padding-bottom: 0rem;
    }
    .cards {
      padding-top: 0rem;
      flex-direction: column-reverse;
      .bio {
        margin-top: 2rem;
        width: 95%;
        padding: 0rem;
      }
      .my-pic {
        width: 90%;
        margin: 2rem 0rem 2rem 0rem;
      }
      .full-bio {
        width: 95%;
        margin-top: 2rem;
        line-height: 1.5;
        text-align: center;
        padding-left: 0rem;
        p {
          line-height: 1.2;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .about-me {
    padding-top: 2rem;
    h2 {
      font-size: 2rem;
      padding-bottom: 0rem;
    }
    .cards {
      padding: 0rem;
      .bio {
        margin-top: 1rem;
        min-width: 90%;
        max-width: 90%;
        margin-bottom: 1rem;
      }
      .my-pic {

        min-width: 90%;
        max-width: 90%;

      }
      .full-bio {
        line-height: 1rem;
        text-align: center;
        padding-left: 0rem;
        min-width: 100%;
      }
    }
  }
  .invite {
    margin: 1rem 1rem 0rem 1rem;
  }
}
