.hero {
  padding-top: 18rem;
  display: flex;
  height: 105vh;
  align-items: center;
  color: white;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 132, 255, 0.486),
    #2222229f
  ),
    url(../img//wallpaper.jpg) center no-repeat;
  background-size: cover;

  h2 {
    font-weight: lighter;
    font-size: 3rem;
    margin-right: 15px;
  }
  span {
    font-weight: bold;
  }

  button {
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    // border: 3px solid #00adb5;
    background: transparent;
    color: white;
    transition: all 0.5s ease;
    margin-bottom: 10rem;
    &:hover {
      background-color: #00adb5;
    }
  }
}

.about-me {
  text-align: center;
  padding: 4rem 4rem 0rem 4rem;
  // background-color: #222831;
  h2,
  h3,
  h4,
  h5 {
    // color: white;
    font-weight: lighter;
  }
  h2 {
    font-size: 3.5rem;
    // color: #00adb5;
    // padding-bottom: 6rem;
    margin-top: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    // color: #00adb5;
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 3rem 0rem;
    // max-width: 80%;
    .my-pic {
      border-radius: 500px;
      min-width: 280px;
      max-width: 280px;
      border: solid 2px blue;
    }
    .bio {
      min-width: 330px;
      max-width: 330px;
      text-align: left;
      padding: 0rem 3rem;
      line-height: 1.5;
    }
    .full-bio {
      min-width: 330px;
      max-width: 330px;
      text-align: left;
      align-items: center;
      padding-left: 3rem;
    }
  }
  .entry-type {
    font-size: 1.6rem;
    color: blue;
  }
  .entry {
    line-height: 2.5rem;
    font-size: 1.1rem;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.primary-icon {
  margin-right: 2rem;
}

@media screen and (max-width: 865px) {
  .hero {
    flex-direction: column;
    padding: 18rem 2rem 0rem 2rem;
    button {
      width: 100%;
      margin-bottom: 7rem;
    }
    .description {
      margin: auto;
      h2 {
        font-size: 3rem;
        text-align: center;
      }
    }
  }

  .about-me {
    padding: 3rem 2rem 0rem 2rem;
    h2 {
      font-size: 2.5rem;
      padding-bottom: 0rem;
    }
    .cards {
      flex-direction: column-reverse;
      p {
        font-size: 1.1rem;
      }
      .bio {
        margin-top: 2rem;
        min-width: 280px;
        max-width: 280px;
        padding: 0rem;
      }
      .my-pic {
        min-width: 230px;
        max-width: 230px;
        margin: 2rem 0rem 2rem 0rem;
      }
      .full-bio {
        margin-top: 2rem;
        line-height: 1rem;
        text-align: center;
        padding-left: 0rem;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .hero {
    flex-direction: column;
    button {
      width: 100%;
      margin-bottom: 1rem;
    }
    .description {
      margin: auto;
      h2 {
        font-size: 2.5rem;
      }
    }
  }

  .about-me {
    padding: 2rem;
    h2 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
    }
    .cards {
      p {
        font-size: 1rem;
      }
      .bio,
      .my-pic {
        min-width: 95%;
        max-width: 95%;
      }
    }

  }
}
