.experience{
  padding: 4rem 4rem 0rem 4rem;
  background-color: #dbe2ef;
  height: 100vh;
  h2, h3{
    font-weight: lighter;
    text-align: center;
  }
  h2 {
    font-size: 3.5rem;
    color: #3f72af;
    margin-top: 2rem;
  }
  h3 {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 500;


  }
  .exp-container {
    text-align: left;
  }

  .education, .work {
    padding: 2rem 10rem;
    text-align: left;
    display: grid;
    grid-template-columns: 250px 600px;
  }
  .school-name {
    margin-top: 10px;
    grid-row: 2/3;
  }
}




@media screen and (max-width: 865px) {
  .experience {
    padding: 3rem 2rem 0rem 2rem;
    h2 {
      font-size: 2.5rem;
      padding-bottom: 0rem;
    }
  }
}

@media screen and (max-width: 420px) {

}