$orange: #ef8d32;
$d-blue: #112d4e;
$l-blue: #3f72af;
$bg-1: #dbe2ef;
$bg-2: #f9f7f7;

nav {
  display: flex;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10;
  transition: ease 0.5s;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link {
    padding-left: 2rem;
    position: relative;
  }

  a {
    text-decoration: none !important;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

  li:hover,
  .fas:hover,
  a:hover {
    cursor: pointer;
    color: $orange;
    transform: scale(1.1);
  }
  .primary {
    margin-left: -3rem;
  }

  .fa-bars {
    color: white;
    display: none;
    z-index: 1000;
  }

  .name {
    color: white;
    display: none;
    z-index: 1000;
    position: fixed;
    left: 2rem;
    font-size: 1.4rem;
  }

  .fa-times {
    color: white;
  }
  .logo {
    min-width: 50px;
    max-width: 50px;
  }
}

.sticky {
  background-color: $d-blue;
}

@media screen and (max-width: 865px) {
  nav {
    background-color: $d-blue;
    padding: 1rem 2rem 1rem 2rem;
    .nav-link {
      display: none;
    }
    .fa-bars {
      display: block;
    }
    .name {
      display: block;
    }
    .fas {
      font-size: 1.7rem;
    }
  }
}
