nav {
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: ease 0.5s;
  align-items: center;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link{
    padding-left: 2rem;
    position: relative;
  }
  a {
    text-decoration: none !important;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

  li:hover, .fas:hover {
    cursor: pointer;
  }
  .primary {
    margin-left: -3rem;
  }

  .current-tab {
    width: 0;
    height: 0.3rem;
    margin-top: 0.3rem;
    background: #00adb5;
  }

  .fa-bars{
    color: white;
    display: none;
    z-index: 1000;
  }

  .fa-times {
    color: white;
  }
  .logo {
    image-resolution: 300dpi;
    width: 50%;
  }
}

.sticky {
    color: black;
    background-color: black;
}


@media screen and (max-width: 865px) {
  nav {
    background-color: black;
    padding: 1rem 2rem 1rem 2rem;
    .nav-link {
      display: none;
    }
    .fa-bars {
      display: inline-block;
    }
    .fas {
      font-size: 1.7rem;
    }
  }

}
