$orange: #ef8d32;
$d-blue: #112d4e;
$l-blue: #3f72af;
$bg-1: #dbe2ef;
$bg-2: #f9f7f7;

.nav-list {
  z-index: 10;
  position: fixed;
  top: 5rem;
  right: 0;
  padding-top: 2rem;
  width: 25vw;
  height: 550px;
  background-color: $d-blue;
  transition: ease 0.5s;
  transform: translateX(100%);
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    height: 100%;
    justify-content: space-evenly;
    margin-top: -1rem;
  }
  li {
    list-style: none;
    letter-spacing: 3px;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  a {
    text-align: left;
    color: white;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
  .current-tab {
    width: 0;
    height: 0.2rem;
    margin-top: 0.4rem;
    background: $orange;
  }
}

.active {
  transform: translateX(0%);
}


@media screen and (max-width: 865px) {
  .nav-list {
    width: 40vw;
  }
}

@media screen and (max-width: 420px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90%;
    
  }
}
