$orange: #ef8d32;
$d-blue: #112d4e;
$l-blue: #3f72af;
$bg-1: #dbe2ef;
$bg-2: #f9f7f7;

.projects {
  text-align: center;
  padding: 4rem 1rem 0rem 1rem;
  background-color: $bg-2;
  h2,
  h3,
  h4,
  h5 {
    font-weight: lighter;
  }
  h2 {
    font-size: 3.5rem;
    color: $l-blue;
    margin-top: 2rem;
  }
  p {
    line-height: 1.5;
  }
  .project-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .project {
    display: flex;
    max-width: 870px;
    margin-top: 3rem;
  }
  img {
    width: 15rem;
    border-radius: 10px;
  }
  .project-desc {
    text-align: left;
    margin-left: 2rem;
    padding: 2rem;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
  }

  .two {
    margin-left: 0rem;
    margin-right: 2rem;
  }

  button {
    font-size: 1rem;
    margin: 3rem 2rem 0rem 0rem;
    padding: 10px;
    border-radius: 10px;
    &:hover {
      background-color: $orange;
      cursor: pointer;
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
  .project-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: $orange;
    padding-bottom: 2rem;
  }
  .project-links {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .tech-skills {
    display: flex;
    img {
      width: 20px;
      height: 20px;
    }
  }


}

@media screen and (max-width: 865px) {
  .projects {
    padding: 3rem 1rem 0rem 1rem;
    h2 {
      font-size: 2.5rem;
      padding-bottom: 0rem;
    }
    .project-desc {
      width: auto;
      max-width: 80%;
      height: auto;
      margin: 0rem;
    }
    img {
      width: auto;
      max-width: 80%;
      height: auto;
      margin: 0rem;
    }
    button {
      margin: 3rem 8px 0rem 0rem;
    }
    .project {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .second {
      flex-direction: column;
    }

  }
}

@media screen and (max-width: 420px) {
  .projects {
    h2 {
      font-size: 2rem;
    }
    padding: 2rem 1rem 0rem 1rem;
    img, .project-desc {
      width: 95%;
      max-width: none;
    }
  }
}
