$orange: #ef8d32;
$d-blue: #112d4e;
$l-blue: #3f72af;
$bg-1: #dbe2ef;
$bg-2: #f9f7f7;

.projects {
  text-align: center;
  padding: 0rem 1rem 4rem 1rem;
  background-color: $bg-2;
  h2,
  h3,
  h4,
  h5 {
    font-weight: lighter;
  }
  h2 {
    font-size: 3.5rem;
    color: $l-blue;
  }
  p {
    line-height: 1.5;
  }
  .project-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project {
    display: flex;
    max-width: 870px;
    margin-top: 3rem;
  }
  img {
    width: 15.5rem;
    border-radius: 10px;
  }
  .project-desc {
    text-align: left;
    margin-left: 1rem;
    padding: 2rem;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
  }

  .two {
    margin-left: 0rem;
    margin-right: 1rem;
  }

  button {
    font-size: 1rem;
    margin: 0rem 0.5rem 0rem 0rem;
    padding: 10px;
    border-radius: 10px;
    &:hover {
      background-color: $orange;
      cursor: pointer;
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
  .project-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: $orange;
    padding-bottom: 2rem;
  }
  .project-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  .tech-skills {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .skills-icon {
    width: 40px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 865px) {
  .projects {
    padding: 0rem 1rem 4rem 1rem;

    h2 {
      font-size: 2.5rem;
      padding-bottom: 0rem;
    }
    .project-desc {
      width: auto;
      max-width: 80%;
      height: auto;
      margin: 0rem;
      border-radius: 10px 10px 0px 0px;
    }
    button {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    img {
      width: auto;
      max-width: 80%;
      height: auto;
      margin: 0rem;
      border-radius: 0px 0px 10px 10px;
    }
    .project {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .second {
      flex-direction: column;
    }
    .project-links {
      margin-top: 2rem;
      flex-direction: column-reverse;
    }
    .links {
      justify-content: space-around;
    }
    .tech-skills {
      margin-bottom: 2rem;
      justify-content: space-around;
      width: 100%;
    }
    .skills-icon {
      margin-left: 0rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .projects {
    h2 {
      font-size: 2rem;
    }
    padding: 0rem 1rem 4rem 1rem;
    img,
    .project-desc {
      width: 95%;
      max-width: 95%;
    }
  }
}
