.skills {
  padding: 4rem 4rem 0rem 4rem;
  text-align: center;
  // color: white;
  // background-color: rgb(206, 206, 206);

  h2 {
    font-weight: lighter;
    font-size: 3.5rem;
    margin-top: 2rem;
  }
  .skills-container {
    padding: 3rem 0rem 3rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.tech-skill {
  background-color: rgb(136, 136, 136);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
}

@media screen and (max-width: 865px) {

}

@media screen and (max-width: 420px) {
}
