.skills {
  padding: 4rem 4rem 0rem 4rem;
  text-align: center;
  // color: white;
  background-color: rgb(206, 206, 206);
  height: 100vh;
  h2 {
    font-weight: lighter;
    font-size: 3.5rem;
    // color:  #00adb5;
    margin-top: 2rem;
  }

}

@media screen and (max-width: 865px) {

}

@media screen and (max-width: 420px) {
}
