* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  // -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {

  overflow-x: hidden;
  background-color: #f9f7f7;
}

.quotes {
  font-style: italic;
  color: gray;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 2rem !important;
}

.quotee {
  font-style: italic;
  color: gray;
  text-align: center;
  padding-bottom: 6rem;
}

.end {
  padding-bottom: 0rem;
}

hr {
  height:1px;
  border:none;
  background-color: #0d7377;
  text-align:center;
}

@media screen and (max-width: 865px) {
  .quotes, .quotee {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@import "./about";
@import "./nav";
@import "./experience";
@import "./skills";
@import "./contact";
@import "./footer";
@import "./navlist";
@import "./projects";